@model PeluqueriaCanWash.Models.Usuario
@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var listaUsuarioController = '@Url.Action("Index", "Usuarios")';
    var guardarUsuarioController = '@Url.Action("Guardar", "Usuarios")';
    var modificarUsuarioController = '@Url.Action("Modificar", "Usuarios")';
</script>


<div class="contenedor-principal pl-5 pr-5 pt-3">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="imageTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="tabDatosUsuario" href="#datosUsuario" data-toggle="tab"
               role="tab" aria-controls="datosUsuario" aria-selected="false">
                Datos de Usuario
            </a>
        </li>
        <li class="nav-item">
            @if(ViewBag.estaEditando){
                <a class="nav-link" id="tabRoles" href="#roles" data-toggle="tab"
                   role="tab" aria-controls="roles" aria-selected="false">
                    Roles
                </a>
            }
            else
            {
                <a class="nav-link disabled" id="tabRoles" href="#roles" data-toggle="tab"
                   role="tab" aria-controls="roles" aria-selected="false">
                    Roles
                </a>
            }
        </li>
    </ul>

    <br />
    <!-- Tab panes -->
    <div class="tab-content" id="tabContent">
        @*Solapa datos de usuario*@
        <div role="tabpanel" class="tab-pane fade show active" id="datosUsuario">
            <div class="d-flex flex-column justify-content-center align-items-center py-4">
                <input type="text" id="txtUsuarioId" value="@Html.DisplayFor(model => model.Id)" hidden="hidden" />
                <div class="form-row mt-3">
                    <div class="form-group col">
                        <div class="d-flex justify-content-start align-items-center">
                            <div class="d-flex justify-content-start align-items-center iconos">
                                <i class="fa fa-envelope"></i>
                                <input type="text" name="txtEmail" id="txtEmail" class="form-control form-control-sm" maxlength="50" placeholder="Email" value="@Html.DisplayFor(model => model.Email)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <div class="d-flex justify-content-start align-items-center">
                            <div class="d-flex justify-content-start align-items-center iconos">
                                <i class="fa fa-asterisk"></i>
                                @if (ViewBag.estaEditando)
                                {
                                    <input readonly type="password" name="txtPassword" id="txtPassword" class="form-control form-control-sm" maxlength="20" placeholder="Contraseña" value="*******" />

                                }
                                else
                                {
                                    <input type="password" name="txtPassword" id="txtPassword" class="form-control form-control-sm" maxlength="20" placeholder="Contraseña" />
                                }

                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <div class="d-flex justify-content-start align-items-center">
                            <div class="d-flex justify-content-start align-items-center iconos">
                                <i class="fa fa-asterisk"></i>
                                @if (ViewBag.estaEditando)
                                {
                                    <input readonly value="*******" type="password" name="txtRepetirPassword" id="txtRepetirPassword" class="form-control form-control-sm" maxlength="20" placeholder="Repetir Contraseña" />

                                }
                                else
                                {
                                    <input type="password" name="txtRepetirPassword" id="txtRepetirPassword" class="form-control form-control-sm" maxlength="20" placeholder="Repetir Contraseña" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
                @if (ViewBag.estaEditando)
                {
                    <div class="form-row">
                        <div class="col checkbox mt-4 ml-4">
                            <input class="form-check-input" type="checkbox" id="chkBlanquear"/>
                            <label for="chkBlanquear">
                                Blanquear contraseña
                            </label>
                        </div>
                    </div>
                }


            </div>
            <div class="d-flex justify-content-end m-2">
                <button id="btnCancelar" class="btn btn-limpiar mr-2">Cancelar</button>
                @if (ViewBag.estaEditando)
                {
                    <button id="btnGuardar" class="btn btn-buscar btnGuardar">Guardar</button>

                }
                else
                {
                    <button id="btnContinuar" class="btn btn-buscar">Continuar</button>
                }
                
            </div>
        </div>

        @*Solapa roles*@
        <div role="tabpanel" class="tab-pane fade" id="roles">
            <div class="p-4">
                <div  class="d-flex flex-column justify-content-center align-items-center py-4">
                    <div class="form-row">
                        <div class="form-group col d-flex flex-column justify-content-center align-items-center roles">
                            <select class="form-control form-control-sm" id="selRoles">
                                <option value="-1" disabled="disabled" selected="selected">Seleccione rol..</option>
                                @foreach (var rol in ViewBag.roles)
                                {
                                    if (@Model?.RolId == rol.Id)
                                    {
                                        <option value="@rol.Id" selected="selected">@rol.Nombre</option>

                                    }
                                    else
                                    {
                                        <option value="@rol.Id">@rol.Nombre</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>


                <div class="d-flex justify-content-end m-2">
                    <button id="btnVolverRoles" class="btn btn-limpiar mr-2">Cancelar</button>

                    @if (ViewBag.estaEditando)
                    {
                        <button class="btn btn-buscar btnGuardar">Guardar</button>

                    }
                    else
                    {
                        <button id="btnGuardarYVolver" class="btn btn-volver mr-2">Guardar y Volver</button>
                        <button id="btnRegistrarCliente" class="btn btn-buscar">Registrar Cliente</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/usuariosCrear.js"></script>
